<h4>{{model.vehicleCapability.name}} <a href="">{{fa-icon "info-circle" prefix="far"}}{{bs-tooltip title=model.vehicleCapability.description}}</a></h4>
{{component model.vehicleCapability.componentPath model=model}}