@font-face {
  font-family: MaisonNeue;
  src: url("/assets/fonts/MaisonNeue-Light.woff2") format("woff2"),url("/assets/fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 100;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeue;
  src: url("/assets/fonts/MaisonNeue-Light.woff2") format("woff2"),url("/assets/fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 400;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeue;
  src: url("/assets/fonts/MaisonNeue-Demi.woff2") format("woff2"),url("/assets/fonts/MaisonNeue-Demi.woff") format("woff");
  font-weight: 500;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeue;
  src: url("/assets/fonts/MaisonNeue-Demi.woff2") format("woff2"),url("/assets/fonts/MaisonNeue-Demi.woff") format("woff");
  font-weight: 600;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeue;
  src: url("/assets/fonts/MaisonNeue-Bold.woff2") format("woff2"),url("/assets/fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeueExtended;
  src: url("/assets/fonts/MaisonNeueExtended-Light.woff2") format("woff2"),url("/assets/fonts/MaisonNeueExtended-Light.woff") format("woff");
  font-weight: 100;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeueExtended;
  src: url("/assets/fonts/MaisonNeueExtended-Book.woff2") format("woff2"),url("/assets/fonts/MaisonNeueExtended-Book.woff") format("woff");
  font-weight: 400;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeueExtended;
  src: url("/assets/fonts/MaisonNeueExtended-Bold.woff2") format("woff2"),url("/assets/fonts/MaisonNeueExtended-Bold.woff") format("woff");
  font-weight: 700;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeueMono;
  src: url("/assets/fonts/MaisonNeueMono-Regular.woff2") format("woff2"),url("/assets/fonts/MaisonNeueMono-Regular.woff") format("woff");
  font-weight: 400;
  font-display:block;font-style: normal
}

@font-face {
  font-family: MaisonNeueMono;
  src: url("/assets/fonts/MaisonNeueMono-Bold.woff2") format("woff2"),url("/assets/fonts/MaisonNeueMono-Bold.woff") format("woff");
  font-weight: 700;
  font-display:block;font-style: normal
}