{{!-- {{#link-to 'configurations'}}&lt; Back{{/link-to}} --}}
{{!-- {{#link-to "vehicles.edit" model.slug}}Edit Vehicle{{/link-to}} --}}
{{!-- {{#link-to "vehicles.fork" model.slug}}Fork Vehicle{{/link-to}} --}}
{{title model.title}}
<h1>{{model.title}}</h1>

{{vehicle-config-type model=model}}