<div class="row">
  <div class="col-3 pt-3">
    {{#bs-nav type="pills" class="navbar-dark" stacked="true" as |nav|}}
      {{#each makes as |make|}}
        {{#nav.item}}
          {{#nav.link-to "configuration.make" make.slug class="text-light bg-dark"}}{{make.name}}{{/nav.link-to}}
          {{#bs-nav type="pills" class="navbar-dark sub-nav" stacked="true" as |subNav|}}
          {{#each make.modelsWithConfigs as |model|}}
            {{#subNav.item}}
              {{#subNav.link-to "index" class="text-light bg-dark"}}{{model.name}}{{/subNav.link-to}}
            {{/subNav.item}}
          {{/each}}
          {{/bs-nav}}
        {{/nav.item}}
      {{/each}}
    {{/bs-nav}}
  </div>
  <div class="col-9 pt-3">
    <div>
      {{outlet}}
    </div>
  </div>
</div>