<h1 class="d-none">Openpilot Community Vehicle Database</h1>

{{#bs-accordion as |acc|}}
{{#each makes as |make|}}
  {{#acc.item value=make.id title=make.name}}
    <ul>
      {{#each make.modelsWithConfigs as |vehicleModel|}}
      <li>
        <h3>{{vehicleModel.name}}</h3>

        <ul>
          {{#each (sort-by "title" vehicleModel.rootConfigs) as |config|}}
          <li>
            {{#link-to "vehicles.show" config.slug}}
            {{config.title}}
            {{/link-to}}
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  {{/acc.item}}
{{/each}}
{{/bs-accordion}}